<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Loja de roupas</title>
</head>
<body>
    <h1>Loja de roupas</h1>
    <ul>
        <li><a href="/">Listar</a></li>
        <li><a href="/cadastro">Cadastrar</a></li>
    </ul>
    <form action="/cadastro" method="post">
        <label>Marca</label>
        <input type="text" name="marca" id="" placeholder="Marca">
        <br>
        <label>Tipo</label>
        <input type="text" name="tipo" id="" placeholder="Tipo">
        <br>
        <label>Cor</label>
        <input type="color" name="cor" id="">
        <br>
        <label>Preço</label>
        <input type="number" step='0.01' name="preco" id="" placeholder="Preço">
        <br><br>
        <input type="reset">
        <input type="submit">        
    </form>
</body>
</html>